<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    
    <CustomLevels>
        <CustomLevel name="BUSINESS" intLevel="250"/>
    </CustomLevels>
    
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:log4j2-template.json"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="eu.europa" level="DEBUG" includeLocation="true" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="feign" level="DEBUG" includeLocation="true" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
    
</Configuration>
